@model DevAuthServer.Handlers.Authorize.AuthorizeInputModel;

<form method="post">

    <div class="form-field">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email">
    </div>

    <div class="form-field">
        <label for="displayName">Display name:</label>
        <input id="displayName" name="displayName" type="text">
    </div>

    <div class="form-field">
        <label for="pictureUrl">Picture url:</label>
        <input id="pictureUrl" name="pictureUrl" type="url">
    </div>

    <div class="form-field">
        <label for="roles">Roles:</label>
        <input id="roles" name="roles" type="text">
        <span class="hint">space-delimited</span>
    </div>

    <input type="hidden" name="client_id" value="@Model.client_id">
    <input type="hidden" name="code_challenge" value="@Model.code_challenge">
    <input type="hidden" name="code_challenge_method" value="@Model.code_challenge_method">
    <input type="hidden" name="nonce" value="@Model.nonce">
    <input type="hidden" name="prompt" value="@Model.prompt">
    <input type="hidden" name="redirect_uri" value="@Model.redirect_uri">
    <input type="hidden" name="response_type" value="@Model.response_type">
    <input type="hidden" name="scope" value="@Model.scope">
    <input type="hidden" name="state" value="@Model.state">
</form>